.marginT10 {
  margin-top: 10px;
}

.marginB10 {
  margin-bottom: 10px;
}

.marginR10 {
  margin-right: 10px;
}

.margin10 {
  margin: 10px;
}

.padd10 {
  padding: 10px;
}
.padd5 {
  padding: 5px;
}

.padd20 {
  padding: 0.4rem;
}

.padd0-10 {
  padding: 0 10px;
}

.w100p {
  width: 100%;
}

.w80p {
  width: 80%;
}

.h100p {
  height: 100%;
}

.padd0 {
  padding: 0;
}

.margin0 {
  margin: 0;
}
